// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Core Brand
$dark-blue: #002e5e;
$lime: #72bf44;
$medium-blue: #007dc5;

// Extended Accent
$slate: #d7dee4;
$ocean: #084484;
$air: #edf6ff;
$light-green: #9dd27d;
$light-blue: #2799db;


// Functional
$success: #077d55;
$error: #f00000;
$warning: #e86427;
$info: #0d4ea6;
$star-rating: #ffcd00;


// Neutral
$black: #000000;
$white: #ffffff;
$light-gray: #f5f0f0;
$black2: #091b1f;
$mid-gray: #969691;
$charcoal: #282828;
