{% set link_url = item.url %}
{% set link_base_class = 'link' %}
{% set link_modifiers = item_modifiers %}
{% set link_blockname = menu_class %}


{% if (item.url.external) %}
 {% set link_type = 'arrow-external' %}
{% endif %}


{% extends "@atoms/links/link/link.twig" %}
{% block link_content %}
  <span {{ bem('text', [], menu_class) }}>{{ item.title }}</span>
{% endblock %}
