@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/00-defaults/02-breakpoints' as *;
@use '../../00-base/00-defaults/03-mixins' as *;

.cta {
  background-color: clr(background-section);
  padding: $space-triple;
  text-align: center;
  text-transform: uppercase;
}
