@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/00-defaults/02-breakpoints' as *;
@use '../../00-base/00-defaults/03-mixins' as *;
@use '../../00-base/01-colors/colors-used' as *;

.service-glossary {
  margin-top: 80px;
  
  .tabs {
    .tabs__nav {
      @include wrapper;
      width: 100%;
    }

    .tabs__wrapper {
      padding-top: 80px;
      padding-bottom: 80px;
      background: clr(extended-accent-3);

      .tabs__tab {
        @include wrapper;
      }
    }
  }
}
