@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/00-defaults/02-breakpoints' as *;
@use '../../00-base/00-defaults/03-mixins' as *;
@use '../../00-base/01-colors/colors-used' as *;


.linkgroup {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	
	&--row {
		flex-direction: row;
	}

	&--column {
		flex-direction: column;
	}
}